.navbar {
    width: 80%;
    margin: 0 auto;
    background-color: transparent;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    a {
        color: white;
    }
}
